body {
    background-color: rgb(1, 87, 155)!important;
}

.main-heading {
    color: rgb(255, 187, 84);
    font-size: 4rem;
    font-weight: bold;
    vertical-align: bottom;
    align-items: center;
}

.line {
    color: rgb(140, 199, 247);
}

.input-style {
    background-color: rgb(183, 207, 243);
    border: rgb(61, 133, 241);
    width: 12rem;
    border-radius: 3px;
    margin-right: 5px;
    font-size: 14px;
    height: 2rem;
    font-weight: bold;
    color: rgb(27, 4, 128);
}

.button-style {
    background-color: rgb(255, 187, 84);
    border: rgb(252, 180, 72);
    color: rgb(1, 87, 155);
    width: 5rem;
    border-radius: 5px;
    height: 2rem;
    font-size: 14px;
}

.button-style:hover {
    color: rgb(243, 240, 236);
    font-weight: bold;
}