body {
    background-color: rgb(1, 87, 155)!important;
}

.main-heading {
    color: rgb(255, 187, 84);
    font-size: 4rem;
    font-weight: bold;
    vertical-align: bottom;
}

.main-sub {
    color: rgb(252, 222, 159);
    margin-top: 1rem;
}

.card {
    display: flex;
    margin: 0 auto;
    width: 20rem;
    height: 17rem;
    backdrop-filter: blur(6px);
    background-color: rgba(236, 242, 248, 0.89) !important;
    margin-top: 1rem;
}

.card h2 {
    color: rgb(233, 146, 15);
    margin-bottom: 2rem;
}

.list-item {
    list-style-type: none;
    color: rgb(6, 62, 105);
    font-size: 25px;
    align-items: flex-start;
}

.line {
    color: rgb(140, 199, 247);
}

.button-style {
    background-color: rgb(255, 187, 84);
    border: rgb(252, 180, 72);
    color: rgb(1, 87, 155);
    width: 5rem;
    border-radius: 5px;
    height: 2rem;
    font-size: 14px;
}

.button-style:hover {
    color: rgb(243, 240, 236);
    font-weight: bold;
}

.input-style {
    background-color: rgb(183, 207, 243);
    border: rgb(61, 133, 241);
    width: 12rem;
    border-radius: 3px;
    margin-right: 5px;
    font-size: 14px;
    height: 2rem;
    font-weight: bold;
    color: rgb(27, 4, 128);
}

.warning-message {
    color: rgb(243, 240, 236);
    font-weight: bold;
    margin-top: 1.5rem;
}

.forecast-cards {
    display: inline-block;
    list-style-type: none;
    width: 20rem;
    height: 10rem;
    background-color: rgba(236, 242, 248, 0.89) !important;
    border-radius: 5px;
    margin: 10px;
}

.forecast-heading {
    margin: 1.5rem 0;
    color: rgb(243, 240, 236);
    font-weight: bold;
    font-size: 2rem;
}

.forecast-items {
    text-align: center;
    margin: 1rem;
    color: rgb(6, 62, 105);
    font-size: 18px;
}