.main-sub {
    color: rgb(252, 222, 159);
    margin-top: 1rem;
    text-align: center;
}

.card {
    margin: 0 auto;
    width: 20rem;
    height: 17rem;
    backdrop-filter: blur(6px);
    background-color: rgba(236, 242, 248, 0.89) !important;
    margin-top: 1rem;
}

.card h2 {
    color: rgb(233, 146, 15);
    margin-bottom: 2rem;
}

.list-item {
    list-style-type: none;
    color: rgb(6, 62, 105);
    font-size: 25px;
    align-items: flex-start;
}

.warning-message {
    color: rgb(243, 240, 236);
    font-weight: bold;
    margin-top: 1.5rem;
}

.forecast-div {
    display: flex;
}

.forecast-cards {
    display: inline-block;
    list-style-type: none;
    width: 20rem;
    height: 10rem;
    background-color: rgba(236, 242, 248, 0.89) !important;
    border-radius: 5px;
    margin: 10px;
}

.forecast-div {
    text-align: center;
    display: block;
}

.forecast-heading {
    margin: 1.5rem 0;
    color: rgb(243, 240, 236);
    font-weight: bold;
    font-size: 2rem;
}

.forecast-items {
    text-align: center;
    margin: 1rem;
    color: rgb(6, 62, 105);
    font-size: 18px;
}